.nav_container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav_right {
    display: flex;
    padding: 20px;
}
.nav_left {
    padding: 20px;
}
.nav_left_search {
    padding-top: 27px;
}
.search_input {
    padding: 6px;
    font-size: 20px;
    width: 500px;
    border: none;
    border: 1px solid #cccccc;
}
.search_button {
    padding: 7px;
    background: none;
    border: none;
    background-color: var(--lightblue);
    font-size: 20px;
}
.logo {
    display: flex;
    text-decoration: none;
    color: black;
    transition: color .3s ease-in-out;
}
.logo:hover {
    color: var(--red);
}
.logo-image {
    width: 50px;
    height: 50px;
}
.logo-text {
    margin-top: 7px;
    margin-left: 5px;
    font-size: 30px;
    display: flex;
}
.the-r {
    color: var(--blue);
}
.right-nav {
    display: flex;
    padding-top: 15px;
}
.right-components a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color .3s ease-in-out;
}
.right-components a:hover {
    color: var(--red);
}
.right-components {
    padding-right: 6px;
    padding-left: 6px;
    height: 20px;
    border-right: 2px solid black;
}
.right-components1 {
    padding-right: 6px;
    padding-left: 6px;
    height: 20px;
}
.right-components2 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.right-components2:hover {
    background-color: var(--red);
    cursor: pointer;
}
.right-components2 {
    padding: 6px;
    border: 1px solid var(--blue);
    border-radius: 24px;
    background-color: var(--lightblue);
    position: relative;
    bottom: 5px;
    margin-left: 6px;
    margin-right: 6px;
    transition: background-color .3s ease-in-out;
}


.nav_container2 {
    background-color: var(--darkgray);
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
    /* z-index: 1; */
}
.category-display {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.category {
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.logout_button {
    position: relative;
    bottom: 5px;
    padding: 5px;
    border-radius: 24px;
    background: none;
    border: none;
    border: 1px solid var(--blue);
    background-color: var(--lightblue);
    font-size: 17px;
    transition: background-color .3s ease-in-out;
}
.logout_button:hover {
    background-color: var(--red);
    cursor: pointer;
}

.category_header {
    text-align: center;
    margin-top: 20px;
}
