.stripes {
    position: relative;
    width: 90px;
    right: 8em;
    top: 35px;
}
.discussion_center {
    text-align: center;
}
.all_discussions_page {
    position: relative;
}
.homepage_discussions_page {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: var(--lightgray); */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}


.discussion_page {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
    font-size: 20px;
}
.discussion_page h1 {
    color: var(--blue);
}
.discussion_image {
    width: 500px;
    margin-top: 20px;
    border: 1px solid black;
}
.discussion_reply_create {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--darkgray);
    color: white;
    padding: 20px;
}
.discussion_body {
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.replies {
    padding: 20px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--lightgray);
}

.user_to_user_reply {
    border-bottom: 2px solid black;
}
.user_to_user_reply1 p{
    margin-top: 5px;
}

.show_reply {
    margin-top: 7px;
    font-size: 15px;
    padding: 5px;
    border: none;
    background: none;
    background-color: var(--blue);
    border-radius: 24px;
    color: white;
    transition: background-color .3s ease-in-out;
}
.show_reply:hover {
    cursor: pointer;
    background-color: var(--lightblue);
    color: black;
}
.no_replies {
    font-size: 17px;
    /* opacity: 70%; */
    margin-top: 10px;
}
