.footer {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    /* background: linear-gradient(rgba(31, 40, 51, 0), rgba(22, 88, 142, 0.6)); */
    background-color: var(--darkgray);
    padding: 5px;
    /* z-index: 3; */
    flex: auto;
    /* position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; */
    position: relative;
    bottom: 4px;
    z-index: -1;
}
.footer_att {
    text-decoration: none;
    /* color: var(--red); */
    color: white;
    font-size: 1.2em;
    transition: color .3s ease-in-out;
}
.footer_att:hover {
    color: var(--red);
    cursor: pointer;
}
