.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--darkgray);
    padding: 5px;
    flex: auto;
    position: relative;
    bottom: 4px;
}
.footer_att {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color .3s ease-in-out;
}
.footer_att:hover {
    color: var(--red);
    cursor: pointer;
}
