.errors {
    color: var(--red);
}

.login_form {
    width: 500px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background-color: var(--lightgray);
    padding: 20px;
    text-align: center;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: #00000060 5px 5px;

}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		}
}
.login_divs {
    margin-top: 10px;
    margin-bottom: 10px;
}
.login_label {
    text-align: center;
    font-size: 25px;
    color: var(--blue);
}
.login_input {
    width: 99%;
    padding: 5px;
    font-size: 17px;
    border-radius: 24px;
    border: none;
}
.login_login {
    padding: 5px;
    color: white;
    background: none;
    border: none;
    border: 1px solid var(--blue);
    border-radius: 24px;
    background-color: var(--blue);
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
    transition: background-color .3s ease-in-out;

}
.login_login:hover {
    cursor: pointer;
    background-color: var(--red);
}
.login-demo {
    padding: 5px;
    color: white;
    background: none;
    border: none;
    border: 1px solid var(--blue);
    border-radius: 24px;
    background-color: var(--blue);
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
    transition: background-color .3s ease-in-out;

}
.login-demo:hover {
    cursor: pointer;
    background-color: var(--red);
}
.to_signup {
    margin-top: 10px;
}
.login_to_signup {
    text-decoration: none;
    color: black;
    font-size: 15px;
}


.signup_form {
    width: 500px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: var(--lightgray);
    padding: 20px;
    text-align: center;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: #00000060 5px 5px;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		}
}
.signup_divs {
    margin-top: 10px;
    margin-bottom: 10px;
}
.signup_labels {
    text-align: center;
    font-size: 25px;
    color: var(--blue);
}
.signup_inputs {
    width: 99%;
    padding: 5px;
    font-size: 17px;
    border-radius: 24px;
    border: none;
}
.signup_signup {
    padding: 5px;
    color: white;
    background: none;
    border: none;
    border: 1px solid var(--blue);
    border-radius: 24px;
    background-color: var(--blue);
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
    transition: background-color .3s ease-in-out;
}
.signup_signup:hover {
    cursor: pointer;
    background-color: var(--red);
}
