.banner_image {
    width: 100%;
}
.dis_post_container {
    display: flex;
    justify-content: space-evenly;
}
.all_discussions {
    text-decoration: none;
    color: black;
    text-align: center;
    z-index:1;
}
.all_discussions h2 {
    font-size: 40px;
}
.all_discussions img {
    position: relative;
    width: 90px;
    left: 21em;
    top: 40px;
    z-index: -1;
}
.homepage_discussions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: var(--lightgray); */
    width: 1000px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
}
.each_discussion {
    background-color: var(--black);
    width: 250px;
    height: fit-content;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color .3s ease-in-out;
}
.each_discussion a {
    text-decoration: none;
    color: white;
}
.each_discussion img {
    width: 200px;
    height: 200px;
    transition: width .3s ease-in-out;
}
.discussion_title {
    color: var(--lightblue);
    margin-bottom: 5px;
}
.each_discussion p {
    margin-left: auto;
    margin-right: auto;
    width: 200px;

    word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;
   max-height: 32px;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
.each_discussion img:hover {
    width: 205px;
}
.each_discussion:hover {
    background-color: var(--darkgray);
    cursor: pointer;
}


.all_posts {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 20px;
}
.all_posts img {
    width: 90px;
    position: relative;
    left: 48px;
    top: 40px;
    z-index: -1;
}
.all_posts h2 {
    /* margin-top: 20px; */
    font-size: 40px;
}
.homepage_posts {
    /* background-color: var(--lightgray); */
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 300px;
    border-left: 3px solid black;
}
.each_post {
    padding: 20px;
    background-color: var(--black);
    width: 200px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color .3s ease-in-out;
}
.each_post a {
    text-decoration: none;
    color: white;
}
.post_title {
    color: var(--lightblue);
    margin-top: 5px;
    margin-bottom: 5px;
}
.each_post img {
    width: 200px;
}
.each_post p {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.each_post:hover {
    background-color: var(--darkgray);
    cursor: pointer;
}
