/* TODO Add site wide styles */
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
}

:root {
	--black: #0b0c10;
    --darkgray: #1f2833;
    --lightgray: #c5c6c7;
    --lightblue: #81c4ff;
    --blue: #16588e;
    --red: #e7222e;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--blue);
}
