.search_header {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid black;
    width: fit-content;
    margin-top: 20px;
}
.search_div {
    text-align: center;
}
.search_posts {
    display: inline-block;
    margin-top: 20px;
    position: relative;
    right: 34px;
    z-index: -1;
}
.search_discussions {
    margin-top: 40px;
    display: inline-block;
    position: relative;
    right: 34px;
    z-index: -1;
}
.search_stripes {
    width: 90px;
}
.search_stripes1 {
    width: 90px;
}
